
body {
  color: black;
  background-color: #ECFEFF;
}


h1 {
  background-color: #A6DEF0;
  color: darkblue;
  font-family:serif;
  font-weight: bold;
  border: 5px double #5C70C1    ;
  padding: 20px;
  font-size: 40px;
  font-weight: bold;
}

#hobbies {
  background-color: #FFF8E1;
  font-size: 25px;
  font-weight: bold;
  font-family:serif;
  color: #5C70C1    ;
}


#funfacts {
  background-color: #E1FFE5;
  font-size: 25px;
  font-weight: bold;
  font-family:serif;
  color:#5C70C1    ;
}

#aboutme {
  background-color:#FFE1E1;
  font-size: 25px;
  font-weight: bold;
  font-family:serif;
  color: #5C70C1    ;
}

#quiz {
  background-color: #E1F1FF  ;
  font-size:25px;
  font-family:serif;
  font-weight: bold;
  color: #5C70C1   ;
}
